.loginContainer {
  height: 500px;
  display: flex;
  flex-direction: Row;
  justify-content: center;
  border: 1px solid blue;
  border-radius: 15px;
}

.loginLeftContainer {
  width: 65%;
  gap: 15px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.loginRightContainer {
  gap: 10px;
  width: 35%;
  height: 100%;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.loginImage {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
